@model RvasApp.Models.Kurs

@{
    ViewData["Title"] = "Detalji kursa";
}

<div class="container mt-4">

    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-3">@Model.Naziv</h1>
            <p class="text-muted">
                Instruktor:
                <strong>@Model.Instruktor.Ime @Model.Instruktor.Prezime</strong>
            </p>

            <hr />
            <h4>Opis kursa</h4>
            <p>
                @(string.IsNullOrWhiteSpace(Model.Opis)
                    ? "Nema opisa za ovaj kurss"
                    : Model.Opis)
            </p>

        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3">Informacije</h5>

                        <strong>Pocetak:</strong><br />
                        @(Model.DatumPocetka?.ToString("dd.MM.yyyy") ?? "-")
                    </p>

                    <p>
                        <strong>Zavrsetak:</strong><br />
                        @(Model.DatumZavrsetka?.ToString("dd.MM.yyyy") ?? "-")
                    </p>

                    <p>
                        <strong>Max polaznika:</strong><br />
                        @(Model.MaksimalanBrojPolaznika?.ToString() ?? "-")
                    </p>

                    <p>
                        <strong>Kontakt:</strong><br />
                        @Model.Instruktor.Email
                    </p>

                    <hr />
                    @* polaznici ce moci da se prijavljuju na kurs sa details stranice *@
                    <a href="#" class="btn btn-primary w-100 mb-2">
                        Prijavi se na kurs
                    </a>

                    <a asp-action="Index" class="btn btn-outline-secondary w-100">
                        Nazad
                    </a>

                </div>
            </div>

        </div>
    </div>

</div>